<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @review.product_id %>
</p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @review.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>


<%= link_to 'Edit', edit_products_review_path(@review.products, @review) %> |
<%= link_to 'Back', products_reviews_path(@review.products) %>
